<!DOCTYPE html>
<html>
<head>
    <title>Upload Gambar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="upload-container">
        <h2>Upload Gambar untuk Deteksi Warna Biru</h2>
        <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required>
            <button type="submit">Proses Gambar</button>
        </form>
    </div>
</body>

</html>
